.nav-list .index a {
    color: #ff5161;
}

.main-title {
    padding-bottom: 20px;
    color: #313131;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.main-title:after {
    background: #ffa99d;
    content: "";
    display: block;
    height: 2px;
    margin: 20px auto;
    width: 40px;
}

/* banner */
.banner-wrap {
    max-width: 1500px;
    margin: 0 auto;
    /* margin-top: 94px; */
    font-size: 0;
}

.banner-wrap img {
    width: 100%;
}


/* 品牌宣语 */
.brand-wrap {
    height: 600px;
    text-align: center;
    background: #f8f8f8;
}

.brand-wrap .main-title {
    padding-top: 50px;
}

.brand-wrap .brand-slogan {
    font-size: 18px;
    color: #313131;
}

.brand-wrap h2 {
    color: #ff5161;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.brand-wrap .yuyu {
    width: 700px;
    height: 160px;
    margin: 0 auto;
    padding: 10px 0;
    background: #fff;
}

.brand-wrap .yuyu p {
    color: #313131;
    font-size: 16px;
    line-height: 50px
}

/* 公司成就 */
.achieve-wrap {
    width: 100%;
    height: 600px;
    color: #fff;
    background: url("/pc/images/index/achieve-bg.png") no-repeat center center;
    /* background-size: 100% 100%; */
}

.achieve-wrap .main-title {
    padding-top: 50px;
    color: #fff;
}

.achieve-wrap .main-title:after {
    background: #fff;
}

.achieve-wrap .con {
    margin-top: 50px;
}

.achieve-wrap .text p {
    line-height: 48px;
}

/* 导师团队 */
.tutor-intro-con ul {
    text-align: center;
}

.tutor-intro-con ul li {
    position: relative;
    display: inline-block;
    width: 253px;
    height: 302px;
    margin: 0 10px;
    overflow: hidden;
}

.tutor-intro-con ul li .tutor-txt {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    transition: bottom .3s;
    background: #fff;
}

/* .tutor-intro-con ul li:hover .tutor-txt {
    bottom: 0;
} */

.tutor-intro-con ul li .tutor-txt:hover a {
    color: #ff5161;
}

.honor-block {
    font-size: 0;
}

.honor-block img {
    max-width: 100%;
}

/* 服务范围 */
.service-wrap {
    padding: 40px 0;
    overflow: hidden;
}

.service-block {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.service-con .service-block:last-child {
    margin-right: 0;
}

.service-con .service-block .service-head-img {
    width: 360px;
    height: 200px;
}

.service-block .service-txt a:hover dl dt {
    color: #ff5161;
}

.service-block .service-txt dl {
    margin-top: 50px
}

.service-block .service-txt dl dt {
    margin-bottom: 20px;
    line-height: 20px;
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.service-block .service-txt dl dt span {
    display: inline-block;
    width: 24px;
    border-bottom: 3px solid #ff5161;
}

.service-block .service-txt dl dd {
    margin-bottom: 30px;
    line-height: 30px;
    color: #666;
    text-align: center;
    font-size: 14px;
}

/* 专家团队 */
.tutor-team {
    width: 100%;
    height: 680px;
    overflow: auto;
    background: url("/pc/images/index/tutor-team-bg.png") no-repeat center center;
    /* background-size: 100% 100%; */
}

.tutor-team .main-title {
    margin-top: 50px;
    margin-bottom: 60px;
    color: #fff;
}

.tutor-team .main-title:after {
    background: #fff;
}

/* 优质干货 */
.excellent-block {
    padding: 60px 0;
    overflow: hidden;
}

.excellent-btn ul {
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.excellent-btn ul li {
    display: inline-block;
    position: relative;
    top: 2px;
    padding-bottom: 20px;
    margin: 0 25px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    border-bottom: 2px solid transparent;
}

.excellent-btn ul li.active {
    color: #ff5161;
    border-bottom: 2px solid #ff5161;
}

.excellent-btn ul li:hover {
    color: #ff5161;
    border-bottom: 2px solid #ff5161;
}

.excellent-btn ul li a {
    color: inherit;
}

.excellent-con-list ul li {
    position: relative;
    float: left;
    width: 580px;
    margin-top: 50px;
    color: #333;
    overflow: hidden;
}

.excellent-con-list {
    display: none;
}

.excellent-con-list.active {
    display: block;
    overflow: hidden;
}

.excellent-con-list ul li:nth-child(even) {
    float: right;
}

.excellent-con-list ul li:hover h2 {
    color: #ff5161;
}

.excellent-con-list ul li .excellent-list-left img {
    float: left;
    width: 260px;
    height: 160px;
}

.excellent-con-list ul li .excellent-list-right {
    position: absolute;
    left: 260px;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 30px;
}

.excellent-con-list ul li .excellent-list-right h2 {
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.excellent-con-list ul li .excellent-list-right p {
    margin-top: 23px;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
}

/* 小鱼优势 */
.advantage .main-title {
    margin-bottom: 60px;
}

.advantage .con {
    position: relative;
    margin-bottom: 150px;
}

.advantage .con .text {
    position: absolute;
    top: 50%;
    right: 0;
    width: 626px;
    height: 183px;
    margin-top: -120px;
    padding: 30px;
    color: #313131;
    font-size: 16px;
    line-height: 43px;
    background: #fbf8fb;
}

.advantage .con .img {
    width: 575px;
    height: 358px;
}

.advantage .con .img img {
    width: 100%;
    height: 100%;
}

/* 合作伙伴 */
.friend {
    padding-top: 50px;
    overflow: hidden;
    background: #f8f8f8;
}

.friend h2 {
    font-size: 20px;
    color: #333;
    font-weight: normal
}

.friend ul {
    margin-top: 20px;
    margin-bottom: 30px;
}

.friend ul li {
    width: 148px;
    height: 70px;
    margin-right: 17px;
    margin-bottom: 24px;
    display: inline-block;
    border: 1px solid #eee;
}

.friend ul li img {
    width: 100%;
    height: 100%;
}