.nav-list .index a{
    color: red;
}

.main-title {
    color: #303030;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.main-title:after {
    background: #303030;
    content: "";
    display: block;
    height: 2px;
    margin: 20px auto;
    width: 100px;
}

.tutor-intro-con ul {
    text-align: center;
}

.tutor-intro-con ul li {
    position: relative;
    display: inline-block;
    width: 253px;
    height: 253px;
    margin: 0 10px;
    overflow: hidden;
}

.tutor-intro-con ul li .tutor-txt {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    transition: bottom .3s;
    background: rgba(0, 0, 0, .4);
}

.tutor-intro-con ul li:hover .tutor-txt {
    bottom: 0;
}

.tutor-intro-con ul li .tutor-txt:hover a {
    color: #ff3232;
}

.honor-block {
    font-size: 0;
}

.honor-block img {
    max-width: 100%;
}

/* 解决问题 */
.service-wrap {
    padding: 60px 0;
    overflow: hidden;
}

.service-block {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.service-con .service-block:last-child {
    margin-right: 0;
}

.service-con .service-block .service-head-img {
    width: 360px;
    height: 200px;
}

.service-block .service-txt a:hover dl dt {
    color: red;
}

.service-block .service-txt dl {
    margin: 18px 0;
}

.service-block .service-txt dl dt {
    position: relative;
    margin-bottom: 12px;
    padding-left: 15px;
    line-height: 20px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.service-block .service-txt dl dt::after {
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    width: 5px;
    height: 20px;
    background: #ff8420;
    border-radius: 2.5px;
    display: block;
    float: left;
}

.service-block .service-txt dl dd {
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #666;
}

/* 导师团队 */
.tutor-team {
    width: 100%;
    height: 680px;
    overflow: auto;
    background: url("../images/index/tutor-team-bg.png") no-repeat center center;
    background-size: 100% 100%;
}

.tutor-team .main-title {
    margin-top: 110px;
    margin-bottom: 88px;
    color: #fff;
}

.tutor-team .main-title:after {
    background: #fff;
}

/* 优质干货 */
.excellent-block {
    padding: 60px 0;
    overflow: hidden;
}

.excellent-btn ul {
    margin-top: 60px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.excellent-btn ul li {
    display: inline-block;
    position: relative;
    top: 2px;
    padding-bottom: 20px;
    margin: 0 25px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    border-bottom: 2px solid transparent;
}
.excellent-btn ul li.active{
    color: #ffa000;
    border-bottom: 2px solid #ffa000;
}
.excellent-btn ul li:hover {
    color: #ffa000;
    border-bottom: 2px solid #ffa000;
}

.excellent-btn ul li a {
    color: inherit;
}

.excellent-con-list ul li {
    position: relative;
    float: left;
    width: 580px;
    margin-top: 50px;
    color: #333;
    overflow: hidden;
}
.excellent-con-list{
    display: none;
}
.excellent-con-list.active{
    display: block;
}
.excellent-con-list ul li:nth-child(even) {
    float: right;
}

.excellent-con-list ul li:hover h2 {
    color: red;
}

.excellent-con-list ul li .excellent-list-left img {
    float: left;
    width: 260px;
    height: 160px;
}

.excellent-con-list ul li .excellent-list-right {
    position: absolute;
    left: 260px;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 30px;
}

.excellent-con-list ul li .excellent-list-right h2 {
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.excellent-con-list ul li .excellent-list-right p {
    margin-top: 23px;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
}

/* 合作伙伴 */
.friend {
    padding-top: 50px;
    overflow: hidden;
    background: #f8f8f8;
}

.friend h2 {
    font-size: 20px;
    color: #333;
    font-weight: normal
}

.friend ul {
    margin-top: 20px;
    margin-bottom: 30px;
}

.friend ul li {
    width: 148px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 24px;
    display: inline-block;
    border: 1px solid #eee;
}

.friend ul li img {
    width: 100%;
    height: 100%;
}